/*==================================================  
                    Top Bar
================================================== */
.top-bar {
    background: #0a0a0a;
    padding: 5px 0;
}
.ts-date-top {
    color: #888888;
    i{
        margin-left: 5px;
    }
}
.topbar-user-panel {
    color: #888888;
    text-align: right;
    a{
        color: #888888;
        &:hover{
            text-decoration: underline;
        }
    }
}
.ts-subscribe {
    margin-right: 30px;
}
/*==================================================  
                    header
================================================== */
.header {
    padding: 10px 0;
}
/* Logo
================================================== */
.logo {
    padding: 20px 0;
}
/* breaking news Bar
================================================== */

.breaking-news-bar{
    color: #888888;
    padding: 20px 0;
 }
 .breaking-news-bar .post-title {
    margin: 0;
    padding: 3px 0;
}
 
//  .owl-carousel.owl-theme.breaking-news-slide .owl-nav {
//     position: absolute;
//     right: 0;
//     top: -3px;
//     margin: 0;
//  }
 
//  .owl-carousel.owl-theme.breaking-news-slide .owl-nav>div {
//     border: 1px solid rgba(0, 0, 0, 0.1);
//     color: #515151;
//  }
 
//  .owl-carousel.owl-theme.breaking-news-slide.owl-nav>div:hover {
//     background: #007fef;
//     border: 1px solid transparent;
//     color: #fff;
//  }

 .breaking-news-title {
    color: #ff0000;
    font-size: 14px;
    padding: 11px 10px;
    line-height: 100%;
    text-transform: uppercase;
    float: left;
    margin: 0 20px 0 0;
 }
 
 
 .breaking-news-slide .post-title a {
    color: #888888;
    font-size: 14px;
    font-family: 'Open Sans';
    font-weight: 400;
 }
 
//  .breaking-news-slide .post-title.title-small {
//     font-weight: 400;
//     margin: 0;
//  }
 
