/*-- Owl slide common --*/

.owl-carousel {
   &.owl-theme {
      .owl-nav {
         text-align: center;

         [class*=owl-] {
            background: rgba(0, 0, 0, 0.65);
            color: #fff;
            position: absolute;
            bottom: 0;
            top: 50%;
            right: 0;
            width: 34px;
            height: 40px;
            line-height: 30px;
            font-size: 20px;
            text-align: center;
            margin: 0;
            border-radius: 0;
            -webkit-transition: 400ms;
            -moz-transition: 400ms;
            -o-transition: 400ms;
            transition: 400ms;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            backface-visibility: hidden;

            &:hover {
               background: #fb313b;
            }
         }

         [class*=owl-prev] {
            right: 40px;
         }
      }

   }
}

.owl-theme .owl-dots {
   text-align: center;
   margin-top: 40px;
   position: relative;
   z-index: 1;
}

.owl-theme .owl-dots .owl-dot {
   display: inline-block;
}

.owl-theme .owl-dots .owl-dot span {
   width: 30px;
   height: 4px;
   margin: 5px 4px;
   background: #000;
   opacity: .2;
   display: inline-block;
}

.owl-theme .owl-dots .owl-dot.active span {
   background: #2154cf;
   opacity: 1;
}

.owl-carousel {
   &.owl-loaded {
      .owl-nav {

         .owl-prev,
         .owl-next {
            &.disabled {
               background: #ff5c23 !important;
               color: #fff !important;
            }
         }
      }
   }
}

