
$open-sans: 'Open Sans',sans-serif;



$white-color: #fff;
$primary-color: #fb313b;
$blue-bg: #120f4e;
$primary-blue: #3a6af0;
$title-color: #222222;
$gray-color: #a9a9a9;
$black-color: #101010;
$gray-fourty-color: #666666;
$alice-blue-bg: #edf5f8;
